<form ng-submit="addItem();item_name.name = ''" id="listForm">
  <ion-item class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Add an item to your list" ng-model="item_name.name"
           style="font-size: 95%;text-align: center;">
  </ion-item>
</form>
<ion-item ng-hide="!model.length || selected">
  <ion-item class="item-text-wrap" ng-repeat="item in items | filter:model track by $index"></ion-item>
</ion-item>
