
<ion-popover-view class="animated fadeInRightBig" style="height:200px; width: 250px;">
  <ion-content scroll="false">
    <ion-item class="item-text-wrap">
      <p style="font-size: large;">Lyst helps you refine your list by recommending items of higher quality based on ratings and user reviews.</p>
      <br>
      <p style="font-size: large;">This feature is currently not available</p>
    </ion-item>
  </ion-content>
</ion-popover-view>
