
<ion-popover-view class="animated fadeInRightBig" style="height:200px; width: 250px;">
  <ion-content scroll="false">
    <ion-item class="item-text-wrap">
      <p style="font-size: large;">Replace items in your list with healthier options recommended by LYST</p>
      <br>
      <p style="font-size: large;">This feature is currently not available</p>
    </ion-item>
  </ion-content>
</ion-popover-view>
