
<ion-modal-view style="background-color: #d3d3d3;">
  <ion-header-bar>
    <div>
      <p class="title" style="float: left;left: 35% !important;">Checkout</p>
      <i class="icon ion-close-round" style="float: right;padding-top: 35%;font-size: 107%" ng-click="closeCheckout()"></i>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list card" ng-init="CardItems=''">
      <ion-item class="item-divider row" style="font-size: 90%;">
        <div class="col col-75">Name</div>
        <!--<div class="col col">Qty</div>-->
        <div class="col col">Price</div>
      </ion-item>
      <ion-list ng-repeat="(key,value) in CardItems=cardIndex == 0 ? newProducts : newProductsV2 | groupBy: 'store' track by $index" ng-if="key !== 'undefined'">
        <ion-item class="item-divider"><p style="font-style: italic;font-weight: bold;">Item(s) from {{key}}</p></ion-item>
        <ion-item class="row" ng-repeat="item in value track by $index">
          <ion-item class="item-borderless col col-75" style="color: #444 !important;">
            {{item.name}}
          </ion-item>
          <ion-item class="item-borderless col col" style="color: #444 !important;">
            <p>{{item.price | currency}}</p>
          </ion-item>
        </ion-item>
      </ion-list>
      <ion-item class="item-divider item-icon-left positive text-center">
        <i class="ion-ios-pricetag" style="font-size: larger;color: #4d4d4d;"> Total: {{ cTotal  | currency}}</i>
      </ion-item>

    </div>
    <div class="card">
      <div class="item item-divider">
        Payment Options
      </div>
      <ion-list>
        <ion-radio ng-repeat="option in cardOptions" ng-model="selected.name" ng-value="option.name">
          <div>
            <img ng-src={{option.image}} style="float: left;width: 12%;">
            <p style="float: left;padding-left: 7%;padding-top: 2%;">{{option.name}}</p>
          </div>
        </ion-radio>
      </ion-list>
      </div>
      <div class="card">
        <ion-item class="item-divider">
          Card Details
        </ion-item>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="First Name  Last Name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Your address">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Card Number</span>
          <input type="number" placeholder="Your card number">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">CVV</span>
          <input type="number" placeholder="cvv">
        </label>
      </div>

    <div style="float: left;padding-left: 3%;width: 97%;">
      <button class="button button-block button-teal" style="min-width: 115px !important;" ng-click="buyCheckout();closeResults();closeCreateList();closeCheckout()">
        Buy
      </button>
    </div>
  </ion-content>
</ion-modal-view>


