<ion-view view-title="Contacts" class="lyst-background">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()" style="color: #404040;"></button>
  </ion-nav-buttons>

  <ion-content>

    <div class="list-inset">
      <ion-item class="item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Find a contact" ng-model="contactItem.displayName" style="text-align: center;" />
      </ion-item>
    </div>

    <!--<ion-list>-->
      <!--<ion-item class="item-avatar">-->
        <!--<img ng-src="img/default_avatar.png">-->
        <!--<h2>Emmanuel Lartey</h2><span class="badge badge-royal" style="right: 3%;"><i class="icon ion-person-stalker"></i></span>-->
        <!--<p>emmanuel.lartey@rancardsolutions.com</p>-->
      <!--</ion-item>-->
    <!--</ion-list>-->

    <ion-list>
      <ion-item collection-repeat="pcontact in phoneContacts | filter: contactItem" class="item-avatar">
        <img ng-src="{{pcontact.photo === undefined ? 'img/default_avatar.png' : pcontact.photo}}">
        <h2>{{pcontact.displayName}}</h2><span class="badge" style="right: 3%;" ng-show="pcontact.isUser" ng-click="inviteUser($index);saveList()">
        <i class="icon ion-person-stalker"></i>
        </span>
        <span class="badge badge-positive" style="right: 3%;" ng-show="!pcontact.isUser" ng-click="addPopUp()">
        <i class="icon ion-person-add"></i>
        </span>
        <p>{{pcontact.email}}</p>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
