<ion-view view-title="History" class="lyst-background">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()" style="color: #404040 ;"></button>
  </ion-nav-buttons>

  <ion-content>

    <ion-item class="card" ng-show="cartItemsList">
      <ion-item class="item-text-wrap item-avatar">
        <img src="img/lyst_avi.gif">
        <p>Lists you have checked out will appear here.</p>
      </ion-item>
    </ion-item>

    <div class="card animated bounceInLeft" ng-hide="!cartItemsList" ng-repeat="savedCart in cartItemsList track by $index">
      <ion-item class="item-divider">
        <i class="icon ion-person-add" style="float: left;color: #008080;font-size: 110%;padding-top: 1%;" ng-click="setCartShareItem($index);shareLyst()"></i>
        <i class="icon ion-close-round" style="float: right;" ng-click="deleteCartItem($index)"></i>
      </ion-item>
      <ion-list ng-repeat="cartItem in savedCart.lystProducts track by $index">
        <ion-item class="item-divider">{{ savedCart.items[$index]}}</ion-item>
        <ion-item class="item-thumbnail-left">
          <img ng-src="{{cartItem.image !== 'N/A' ? cartItem.image : 'img/default_place.png'}}" />
          <h2>{{cartItem.name}}</h2>
          <p>Brand: {{cartItem.brand}}</p>
          <p>Store: {{cartItem.store}}</p>
          <p style="color: #ff3b30;">Price: {{cartItem.price | currency}}</p>
        </ion-item>
      </ion-list>
      <ion-item class="item-divider" align="center">
        <button class="button button-clear button-small button-positive icon-left ion-ios-cart" ng-click="getRecommendation(savedCart.items)">
          Shop
        </button>
      </ion-item>
    </div>

  </ion-content>

</ion-view>
