<ion-view view-title="Lists" class="lyst-background">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()" style="color: #ffffff;"></button>
  </ion-nav-buttons>


  <ion-content overflow-scroll="true" style="font-family: 'Open Sans', sans-serif !important;">

    <div class="card animated bounceInLeft" ng-show="showWelcome">

      <div ng-click="showCreateList()">
        <ion-item class="item-text-wrap item-avatar item-borderless">
          <img src="img/lyst_avi.gif" />
          <p><strong style="color: #008080;">
            {{ !!userDetails ? "Hi "+userDetails[0].first_name + ", I'm Lyst." : "Hi, I'm Lyst."}}
          </strong> I can help you with your shopping list if you tell me what you're looking for.
          </p>
        </ion-item>

        <!--<ion-item class="item-divider" style="font-size: 90%;">-->
          <!--<ion-item class="item-divider item-borderless" style="float: left;padding: 0 0 0 0 !important;">-->
            <!--<p style="color: #9e9e9e;padding-top: 4%;">Name your Lyst..</p>-->
          <!--</ion-item>-->
          <!--<i class="icon ion-person-add" style="float: right;color: #008080;font-size: 110%;padding-top: 1%;"></i>-->
        <!--</ion-item>-->
        <!--<ion-list>-->
          <!--<ion-item class="item-input">-->
            <!--<i class="icon ion-checkmark-circled placeholder-icon"></i>-->
            <!--<input ion-autocomplete type="text" placeholder="Add an item to your list..."-->
                   <!--ng-model="autoCompleteItem"-->
                   <!--item-view-value-key="name"-->
                   <!--items-method="autoCompleteData(query)"-->
                   <!--cancel-button-clicked-method="doneButtonClickedMethod(callback);autoCompleteItem = '';showCreateList()"-->
                   <!--loading-icon="android"-->
                   <!--style="font-size: 95%;text-align: center;">-->
          <!--</ion-item>-->
        <!--</ion-list>-->
      </div>
    </div>

    <!--<div class="card" ng-click="createScreen()">-->

      <!--<ion-item class="item-divider" style="font-size: 90%;">-->
        <!--<ion-item class="item-divider item-borderless" style="float: left;padding: 0px 0 0px 0px !important;">-->
          <!--<p style="color: #9e9e9e;padding-top: 4%;">Name your Lyst..</p>-->
        <!--</ion-item>-->
        <!--<i class="icon ion-person-add" style="float: right;color: #008080;font-size: 110%;padding-top: 1%;"></i>-->
      <!--</ion-item>-->
      <ion-list ng-hide="true">
          <ion-item class="item-input">
            <i class="icon ion-checkmark-circled placeholder-icon"></i>
            <input ion-autocomplete type="text" placeholder="Add an item to your list..."
                   ng-model="autoCompleteItem"
                   item-view-value-key="name"
                   items-method="autoCompleteData(query)"
                   cancel-button-clicked-method="doneButtonClickedMethod(callback);autoCompleteItem = ''"
                   loading-icon="android"
                   style="font-size: 95%;text-align: center;" id="list-input">
          </ion-item>
      </ion-list>


    <div class="card" ng-show="items.length > 0">
      <ion-item class="item-divider" style="font-size: 90%;">
        <ion-item class="item-input item-divider item-borderless" style="float: left;padding: 0px 0 0px 0px !important;">
          <input placeholder="Name your Lyst.." type="text" ng-model="listObject.title" maxlength="22" />
        </ion-item>
        <i class="icon ion-person-add" style="float: right;color: #008080;font-size: 110%;padding-top: 1%;" ng-click="shareLyst();closeCreateList()"></i>
      </ion-item>
      <ion-list>
        <ion-item ng-repeat="item in items track by $index" class="item-icon-left item-icon-right">
          <i class="icon ion-android-checkmark-circle" style="font-size: 150%;"></i>
          {{item}}
          <i class="icon ion-close-circled" style="font-size: 150%;" ng-click="remove(item)"></i>
        </ion-item>
      </ion-list>
      <ion-item class="item-divider" style="padding-top: 3%;padding-left: 3%;">
        <!--<button class="button button-small button-outline button-positive" ng-click="saveCurrentListV2(items)"-->
                <!--style="float: left;width: 23%;border-color: #008080;color:#008080;">-->
          <!--Save</button>-->
        <button class="button button-small button-outline button-positive" ng-click="fetchItems();saveCurrentListV2(items)" style="float: right;border-color: #008080;color:#008080;">
          Find Products
        </button>
      </ion-item>
    </div>
    <!--</div>-->

    <!--<h4 class="section-divider-text">Discover</h4>-->

    <!--<ion-item class="list card template-card animated bounceInRight" ng-click="fetchTemplate('school')">-->
      <!--<ion-item class="item-avatar">-->
        <!--<h2>Back to School List</h2>-->
        <!--<p>Jump start your new school year.</p>-->
        <!--<span class="badge badge-dark" style="margin-right: -5%;">{{school_count}} items</span>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-image">-->
        <!--<img src="img/school2.jpg" class="full-image" />-->
      <!--</ion-item>-->
      <!--<ion-item class="item-icon-left positive">-->
        <!--<button class="button button-small button-outline button-positive" style="float: right;">Shop Now</button>-->
      <!--</ion-item>-->
    <!--</ion-item>-->

    <!--<ion-item class="card list template-card animated bounceInLeft" ng-click="fetchTemplate('office')">-->
      <!--<ion-item class="item-avatar">-->
        <!--<h2>Office Supplies for 10</h2>-->
        <!--<p>Stock up on office supplies.</p>-->
        <!--<span class="badge badge-dark" style="margin-right: -5%;">{{office_count}} items</span>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-image">-->
        <!--<img src="img/office-supplies.jpg" class="full-image" />-->
      <!--</ion-item>-->
      <!--<ion-item class="item-icon-left positive">-->
        <!--<button class="button button-small button-outline button-positive" style="float: right;">Shop Now</button>-->
      <!--</ion-item>-->
    <!--</ion-item>-->

    <!--<ion-item class="card list template-card animated bounceInLeft" ng-click="fetchTemplate('wedding')">-->
      <!--<ion-item class="item-avatar">-->
        <!--<h2>Wedding Planner</h2>-->
        <!--<p>Get these items for your wedding.</p>-->
        <!--<span class="badge badge-dark" style="margin-right: -5%;">{{wedding_count}} items</span>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-image">-->
        <!--<img src="img/wedding.jpg" class="full-image" />-->
      <!--</ion-item>-->
      <!--<ion-item class="item-icon-left positive">-->
        <!--<button class="button button-small button-outline button-positive" style="float: right;">Shop Now</button>-->
      <!--</ion-item>-->
    <!--</ion-item>-->


    <div ng-show="showSavedItems">

      <h4 class="section-divider-text">Saved Lists</h4>

      <div class="row row-top" style="display: -webkit-flex; -webkit-flex-wrap: wrap; display: flex; flex-wrap: wrap;">
        <div class="col lyst-card" ng-repeat="lystItems in savedItemsList track by $index" style="margin-top: -6%;">
          <div class="card animated bounceInLeft">
            <ion-item class="item-divider" style="background-color: #ffffff">
              <p style="float: left;font-size: large;">{{lystItems.title}}</p>
              <i class="icon ion-close-round" style="float: right;color: #a9a9a9" ng-click="removeList($index)"></i>
            </ion-item>
            <ion-item class="item-icon-left" ng-repeat="item in lystItems.items | limitTo: 4" style="border-color: #ffffff;">
              <i class="icon ion-android-checkmark-circle" style="font-size: medium"></i>
              <p style="text-decoration: line-through;font-size: medium;">{{item.name}}</p>
            </ion-item>
            <ion-item class="item-icon-left item-borderless" style="background: #ffffff;" ng-if="lystItems.items.length > 4">
              <i class="icon ion-android-checkmark-circle" style="font-size: medium"></i>
              <p style="font-size: medium;">...</p>
            </ion-item>
            <ion-item class="item-divider" align="center">
              <button class="button button-clear button-small button-positive icon-left ion-ios-cart" ng-click="showCounter();getListItems(lystItems)">
                Shop
              </button>
            </ion-item>
          </div>
        </div>
      </div>
    </div>

  </ion-content>


  <div class="float-button" ng-click="triggerListInput();">
    <span class="height-fix">
    <a class="content">
      <i class="ion-plus-round"> </i>
    </a>
    </span>
  </div>

</ion-view>
