
<div class="card">
  <div class="item item-avatar-left item-text-wrap" ng-repeat="productDetail in productDetails">
    <img src="img/ionic.png">
    <p>Name: {{productDetail.name}}</p>
    <p>Brand: {{productDetail.brand}}</p>
    <p>Price: {{productDetail.price | currency}}</p>
    <p>Store: {{productDetail.store}}</p>
  </div>
</div>
