
<ion-view view-title="Purchases" class="lyst-background">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()" style="color: #ffffff;"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="false">
    <ion-item class="card" ng-show="cartItemsList">
      <ion-item class="item-text-wrap item-avatar">
        <img src="img/lyst_avi.gif">
        <p>Lists you have checked out will appear here.</p>
      </ion-item>
    </ion-item>

    <div class="card animated bounceInLeft" ng-hide="!cartItemsList" ng-repeat="savedCart in cartItemsList track by $index">
      <ion-item class="item-divider">
        <i class="icon ion-person-add" style="float: left;color: #008080;font-size: 110%;padding-top: 1%;" ng-click="setCartShareItem($index);shareLyst()"></i>
        <i class="icon ion-close-round" style="float: right;" ng-click="deleteCartItem($index)"></i>
      </ion-item>
      <ion-list ng-repeat="cartItem in savedCart.lystProducts track by $index">
        <ion-item class="item-divider">{{ savedCart.items[$index]}}</ion-item>
        <ion-item class="item-thumbnail-left">
          <img ng-src="{{cartItem.image !== 'N/A' ? cartItem.image : 'img/default_place.png'}}" />
          <h2>{{cartItem.name}}</h2>
          <p>Brand: {{cartItem.brand}}</p>
          <p>Store: {{cartItem.store}}</p>
          <p style="color: #ff3b30;">Price: {{cartItem.price | currency}}</p>
        </ion-item>
      </ion-list>
      <!--<ion-item class="item-divider" align="center">-->
        <!--<button class="button button-clear button-small button-positive icon-left ion-ios-cart">-->
          <!--Shop-->
        <!--</button>-->
      <!--</ion-item>-->
    </div>

  </ion-content>

    <!--<div class="card" ng-hide="showListResults" ng-click="dumdum('0');calcTotal()">-->
      <!--<ion-item class="item-divider item-borderless">-->
          <!--<h1 style="color: #8f8f8f;float: left;">Best for Price</h1>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-divider item-borderless">-->
        <!--<a class="subdued" style="float: left;">Cheapest Options</a>-->
        <!--<a class="subdued positive" style="float: right;font-size: 80%;">Total: {{cTotal | currency}}</a>-->
      <!--</ion-item>-->

      <!--<ion-list ng-repeat="product in sharedObject === undefined ? newProducts : sharedObject track by $index" ng-click="calcTotal()">-->
        <!--<ion-item class="item-divider" ng-if="items[$index]">{{items[$index]}}</ion-item>-->
        <!--<ks-swiper-container initial-slide="0" speed="2000" loop="false" show-nav-buttons="true" slides-per-view="1" space-between="0" swiper="swiper" on-ready="onReadySwiper(swiper)" pagination-clickable="false"-->
                             <!--ng-click="vumvum($index)" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : true}}">-->
          <!--<ks-swiper-slide class="swiper-slide" ng-repeat="pitem in products[items[$index]] track by $index" ng-click="replaceV2(pitem)">-->
            <!--<ion-item class="item-thumbnail-left">-->
              <!--<img ng-src="{{pitem.image !== 'N/A' ? pitem.image : 'img/default_place.png'}}" />-->
              <!--<h2>{{pitem.name}}</h2>-->
              <!--<p>Brand: {{pitem.brand}}</p>-->
              <!--<p>Store: {{pitem.store}}</p>-->
              <!--<p style="color: #ff3b30;">Price: {{pitem.price | currency}}</p>-->
            <!--</ion-item>-->
          <!--</ks-swiper-slide>-->
        <!--</ks-swiper-container>-->

        <!--<ion-item class="item-thumbnail-left" ng-if="product.price == undefined">-->
          <!--<img ng-src="img/default_place.png" />-->
          <!--<h2>No Items Found</h2>-->
          <!--<p>Brand: Not Available</p>-->
          <!--<p>Store: Not Available</p>-->
          <!--<p style="color: #ff3b30;">Price: Not Available</p>-->
        <!--</ion-item>-->

      <!--</ion-list>-->

      <!--<ion-item class="item-divider">-->
        <!--<button class="button button-small button-teal" ng-click="showCheckout();saveItemsToCart(newProducts)" style="float: right;">-->
          <!--Check Out-->
        <!--</button>-->
      <!--</ion-item>-->
    <!--</div>-->

    <!--<ion-item class="card" ng-show="showListResults">-->
      <!--<ion-item class="item-text-wrap" ng-cloak="showListResults">-->
        <!--Your list results will appear here. Tap on <strong style="color: #008080;">Create</strong> to create one now.-->
      <!--</ion-item>-->
      <!--<ion-item class="item-icon-right item-borderless" nav-transition="android">-->
        <!--<i class="icon" style="color: #007aff;font-size: 100%;" ng-click="createList()">Create</i>-->
      <!--</ion-item>-->
    <!--</ion-item>-->

</ion-view>
