<ion-view view-title="Ask Lyst" class="lyst-background">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()" style="color: #ffffff;"></button>
  </ion-nav-buttons>

  <ion-content delegate-handle="userMessageScroll">

    <ion-list>
      <div ng-repeat="msg in messages" class="message-wrapper">

        <div class="chat-bubble animated pulse" ng-class="msg.user_flag == 1 ? 'left' : 'right'" style="padding-left: 7%;">

          <div class="message-detail" ng-if="msg.user_flag == 1">
            <span class="bold" style="color: grey">{{msg.default_name}}</span>
          </div>

          <div class="message" ng-bind-html="msg.message | nl2br"></div>

          <div class="list" ng-if="msg.items.length > 0" style="padding-top: 3%;">
            <ion-item class="item-text-wrap item-icon-left animated pulse item-borderless" ng-repeat="plist in msg.items">
              <i class="icon ion-ios-checkmark-outline" style="font-size: medium"></i>
              <p style="font-size: small !important;">{{plist}}</p>
            </ion-item>
            <div style="padding-left: 8%;">
              <button class="button button-clear button-small button-positive" style="float: left;" ng-click="fetchChatItems()">OK</button>
              <button class="button button-clear button-small button-positive" style="float: right;">Cancel</button>
            </div>
          </div>

          <div class="message-detail" style="margin-left: 100%;" ng-if="msg.user_flag == 1">
            <span style="color: lightgrey">{{msg.date}}</span>
          </div>

          <div class="message-detail" ng-if="msg.user_flag == 2">
            <span class="bold">{{msg.default_name}}</span>, <span>{{msg.date}}</span>
          </div>

        </div>

      </div>
    </ion-list>


    <!--<div class="card" ng-show="showListHeaderCard">-->

      <!--<ion-item class="item-divider" style="font-size: 90%;">-->
        <!--<ion-item class="item-divider item-borderless" style="float: left;padding: 0px 0 0px 0px !important;">-->
          <!--<p style="color: #9e9e9e;padding-top: 4%;">Name your Lyst..</p>-->
        <!--</ion-item>-->
        <!--<i class="icon ion-person-add" style="float: right;color: #008080;font-size: 110%;padding-top: 1%;"></i>-->
      <!--</ion-item>-->

      <!--<ion-list>-->
        <!--<ion-item class="item-input">-->
          <!--<i class="icon ion-checkmark-circled placeholder-icon"></i>-->
          <!--<input ion-autocomplete type="text" placeholder="Add an item to your list..."-->
                 <!--ng-model="autoCompleteItem"-->
                 <!--item-view-value-key="name"-->
                 <!--items-method="autoCompleteData(query)"-->
                 <!--cancel-button-clicked-method="doneButtonClickedMethod(callback);autoCompleteItem = '';createScreen()"-->
                 <!--loading-icon="android"-->
                 <!--style="font-size: 95%;text-align: center;" id="list-input">-->
        <!--</ion-item>-->
      <!--</ion-list>-->
    <!--</div>-->

    <!--<div ng-hide="showListHeaderCard">-->
        <!--<div class="card animated bounceInLeft">-->
          <!--<ion-item class="item-divider" style="font-size: 90%;">-->
            <!--<ion-item class="item-input item-divider item-borderless" style="float: left;padding: 0px 0 0px 0px !important;">-->
              <!--<input placeholder="Name your Lyst.." type="text" ng-model="listObject.title" maxlength="22" />-->
            <!--</ion-item>-->
            <!--<i class="icon ion-person-add" style="float: right;color: #008080;font-size: 110%;padding-top: 1%;" ng-click="shareLyst()"></i>-->
          <!--</ion-item>-->
          <!--<ion-list>-->
            <!--<ion-item ng-repeat="item in items track by $index" class="item-icon-left item-icon-right">-->
              <!--<i class="icon ion-android-checkmark-circle" style="font-size: 150%;"></i>-->
              <!--{{item}}-->
                <!--<i class="icon ion-close-circled" style="font-size: 150%;color: #cccccc;" ng-click="remove(item)"></i>-->
            <!--</ion-item>-->
          <!--</ion-list>-->
          <!--<ion-item class="item-divider" style="padding-top: 3%;padding-left: 3%;">-->
              <!--<button class="button button-small button-outline button-positive" ng-click="saveCurrentListV2(items)"-->
                      <!--style="float: left;width: 23%;border-color: #008080;color:#008080;">-->
                <!--Save</button>-->
                <!--<button class="button button-small button-teal" ng-click="fetchItems()" style="float: right;">-->
                <!--Find Products-->
              <!--</button>-->
          <!--</ion-item>-->
          <!--&lt;!&ndash;<ion-item class="item-text-wrap item-divider">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="subdued" style="font-size: 75%;font-style: italic;">&ndash;&gt;-->
              <!--&lt;!&ndash;Swipe <strong style="color: #008080;">left</strong> on an item and tap the <strong style="color: #ff0000">red</strong> button to delete.&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    </ion-content>

  <form ng-submit="sendMessage(messageText)">
    <ion-footer-bar class="bar bar-footer bar-light">
        <input type="text" placeholder="Tell me..." style="width: 85%;" ng-model="messageText" autofocus>
        <button class="button button-large button-teal ion-android-send" style="margin-left: 2%;width: 12%;" type="submit"
                ng-disabled="!messageText || messageText === ''"></button>
    </ion-footer-bar>
  </form>

</ion-view>
