
<ion-modal-view class="create-list-background">
  <ion-header-bar>
    <div>
      <p class="title" style="float: left;left: 35% !important;">Create Your List</p>
      <i class="icon ion-android-arrow-back create-list-back" ng-click="closeCreateList()"></i>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="card" ng-show="showListHeaderCard">

      <ion-item class="item-divider" style="font-size: 90%;">
        <ion-item class="item-divider item-borderless" style="float: left;padding: 0px 0 0px 0px !important;">
          <p style="color: #9e9e9e;padding-top: 4%;">Name your Lyst..</p>
        </ion-item>
        <i class="icon ion-person-add" style="float: right;color: #008080;font-size: 110%;padding-top: 1%;"></i>
      </ion-item>

      <ion-list>
        <ion-item class="item-input color-item">
          <i class="icon ion-checkmark-circled placeholder-icon" style="color: #ffffff;"></i>
          <input ion-autocomplete type="text" placeholder="Add an item to your list..."
                 ng-model="autoCompleteItem"
                 item-view-value-key="name"
                 items-method="autoCompleteData(query)"
                 cancel-button-clicked-method="doneButtonClickedMethod(callback);autoCompleteItem = '';"
                 loading-icon="android"
                 style="font-size: 95%;text-align: center;"  style="color: #ffffff;" id="list-input">
        </ion-item>
      </ion-list>
    </div>

    <div ng-hide="showListHeaderCard">
      <div class="card">
        <ion-item class="item-divider" style="font-size: 90%;">
          <ion-item class="item-input item-divider item-borderless" style="float: left;padding: 0px 0 0px 0px !important;">
            <input placeholder="Name your Lyst.." type="text" ng-model="listObject.title" maxlength="22" />
          </ion-item>
          <i class="icon ion-person-add" style="float: right;color: #008080;font-size: 110%;padding-top: 1%;" ng-click="shareLyst();closeCreateList()"></i>
        </ion-item>
        <ion-list>
          <ion-item ng-repeat="list_item in items track by $index" class="item-icon-left item-icon-right color-item">
            <i class="icon ion-android-checkmark-circle" style="font-size: 150%;"></i>
            {{list_item}}
            <i class="icon ion-close-circled" style="font-size: 150%;color: #ffffff;" ng-click="remove(list_item)"></i>
          </ion-item>
        </ion-list>
        <ion-item class="item-divider" style="padding-top: 3%;padding-left: 3%;">
          <button class="button button-small button-outline button-positive" ng-click="saveCurrentListV2(items)"
                  style="float: left;width: 23%;border-color: #008080;color:#008080;">
            Save</button>
          <button class="button button-small button-teal" ng-click="fetchItems();saveCurrentListV2(items)" style="float: right;">
            Find Products
          </button>
        </ion-item>
      </div>
    </div>

    <!--<div>-->
      <!--<h4 class="section-divider-modal-text">Discover</h4>-->

      <!--<ion-item class="list card template-card animated bounceInRight" ng-click="fetchTemplate('school')">-->
        <!--<ion-item class="item-avatar">-->
          <!--<h2>Back to School List</h2>-->
          <!--<p>Jump start your new school year.</p>-->
          <!--<span class="badge badge-dark" style="margin-right: -5%;">{{school_count}} items</span>-->
        <!--</ion-item>-->
        <!--<ion-item class="item-image">-->
          <!--<img src="img/school2.jpg" class="full-image" />-->
        <!--</ion-item>-->
        <!--<ion-item class="item-icon-left positive">-->
          <!--<button class="button button-small button-outline button-positive" style="float: right;">Shop Now</button>-->
        <!--</ion-item>-->
      <!--</ion-item>-->

      <!--<ion-item class="card list template-card animated bounceInLeft" ng-click="fetchTemplate('office')">-->
        <!--<ion-item class="item-avatar">-->
          <!--<h2>Office Supplies for 10</h2>-->
          <!--<p>Stock up on office supplies.</p>-->
          <!--<span class="badge badge-dark" style="margin-right: -5%;">{{office_count}} items</span>-->
        <!--</ion-item>-->
        <!--<ion-item class="item-image">-->
          <!--<img src="img/office-supplies.jpg" class="full-image" />-->
        <!--</ion-item>-->
        <!--<ion-item class="item-icon-left positive">-->
          <!--<button class="button button-small button-outline button-positive" style="float: right;">Shop Now</button>-->
        <!--</ion-item>-->
      <!--</ion-item>-->

      <!--<ion-item class="card list template-card animated bounceInLeft" ng-click="fetchTemplate('wedding')">-->
        <!--<ion-item class="item-avatar">-->
          <!--<h2>Wedding Planner</h2>-->
          <!--<p>Get these items for your wedding.</p>-->
          <!--<span class="badge badge-dark" style="margin-right: -5%;">{{wedding_count}} items</span>-->
        <!--</ion-item>-->
        <!--<ion-item class="item-image">-->
          <!--<img src="img/wedding.jpg" class="full-image" />-->
        <!--</ion-item>-->
        <!--<ion-item class="item-icon-left positive">-->
          <!--<button class="button button-small button-outline button-positive" style="float: right;">Shop Now</button>-->
        <!--</ion-item>-->
      <!--</ion-item>-->
    <!--</div>-->

  </ion-content>

  <div class="float-button-modal" ng-click="triggerListInput();">
    <span class="height-fix">
    <a class="content">
      <i class="ion-plus-round"></i>
    </a>
    </span>
  </div>

</ion-modal-view>


