<ion-modal-view>
  <ion-header-bar>
    <div>
      <p class="title" style="float: left;left: 35% !important;">Sign Up/Sign In</p>
      <i class="icon ion-close-round" style="float: right;padding-top: 35%;" ng-click="closeLogin()"></i>
    </div>
  </ion-header-bar>
  <ion-content class="signup-page" scroll="false" >
    <div class="list list-inset">
      <label class="item item-input list-body">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>

      <label class="item item-input list-body">
        <i class="icon ion-email placeholder-icon"></i>
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>

      <label class="item item-input list-body">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>

    <div style="padding-top: 1%;padding-left: 5%;width: 95%;">
      <button class="button button-block button-teal">
        SIGN UP
      </button>
    </div>
    <div style="padding-top: 2%;padding-left: 5%;width: 95%;">
      <button class="button button-block button-google icon-left ion-social-googleplus" ng-click="googleLogin()">
        SIGN UP WITH GOOGLE
      </button>
      <button class="button button-block button-facebook icon-left ion-social-facebook" ng-click="facebookLogin()">
        SIGN UP WITH FACEBOOK
      </button>
    </div>
  </ion-content>
</ion-modal-view>
