<ion-view title="Login" class="layoutBackground">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()" style="color: #404040;"></button>
  </ion-nav-buttons>

  <ion-content class="signup-page" scroll="false" >
    <div style="padding-top: 60%;padding-left: 5%;width: 95%;">
      <button class="button button-block button-google icon-left ion-social-googleplus" ng-click="googleLogin()"
              style="margin-bottom: 10%;">
        LOGIN WITH GOOGLE
      </button>
      <!--<button class="button button-block button-facebook icon-left ion-social-facebook" ng-click="facebookLogin()">-->
        <!--LOGIN WITH FACEBOOK-->
      <!--</button>-->
    </div>

  </ion-content>

</ion-view>
