<ion-view>
  <ion-content scroll="false" ng-click="hideOnboard()">
    <ion-slides  options="oOptions" slider="data.slider">
      <ion-slide-page>
        <div class="box blue"><h1>BLUE</h1></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box yellow"><h1>YELLOW</h1></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
