
<ion-view class="product-detail-view">

  <div style="padding-top: 5%;"></div>

    <ion-slides slider="data.slider" class="sliderBackground" ng-click="closePrice();">
      <ion-slide-page ng-repeat="item in sliderItems track by $index">
          <!--<ion-item class="card list lyst-card" ng-click="replace(item);calcTotal();closePrice()">-->
            <ion-item class="card list" style="padding: 0;margin-top: 20%;" ng-click="replace(item);calcTotal();closePrice()">
              <ion-item class="item-image ">
                <img ng-src="{{item.image !== 'N/A' ? item.image : 'img/default_place.png'}}" />
              </ion-item>
              <ion-item class="item-divider">
                <p>{{item.name}}</p>
                <p>Brand: {{item.brand}}</p>
                <p>Store: {{item.store}}</p>
                <p>Price: {{item.price | currency}}</p>
              </ion-item>
            </ion-item>


            <!--<ion-item class="item-divider">-->
              <!--<p>{{item.name}}</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item-image">-->
              <!--<img ng-src="{{item.image !== 'N/A' ? item.image : 'img/default_place.png'}}" />-->
            <!--</ion-item>-->
            <!--&lt;!&ndash;<ion-item class="item-body">&ndash;&gt;-->
              <!--&lt;!&ndash;<p>&ndash;&gt;-->
              <!--&lt;!&ndash;<a class="subdued">Price: &nbsp;<b style="color: #ff0000;">{{item.price | currency}}</b></a><br>&ndash;&gt;-->
              <!--&lt;!&ndash;<a class="subdued">Brand: &nbsp;{{item.brand}}</a><br>&ndash;&gt;-->
              <!--&lt;!&ndash;<a class="subdued">Store: &nbsp;{{item.store}}</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
            <!--<div class="item tabs tabs-secondary tabs-icon-left item-divider">-->
              <!--<a class="tab-item">-->
                <!--<i class="ion-bag"></i>-->
                <!--{{item.brand}}-->
              <!--</a>-->
              <!--<a class="tab-item">-->
                <!--<i class="ion-pricetags"></i>-->
                <!--{{item.store}}-->
              <!--</a>-->
              <!--<a class="tab-item">-->
                <!--<i class="ion-cash"></i>-->
                <!--{{item.price | currency}}-->
              <!--</a>-->
            <!--</div>-->
          <!--</ion-item>-->
      </ion-slide-page>
    </ion-slides>
</ion-view>
