<ion-view title="Profile" class="lyst-background">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()" style="color: #404040;"></button>
  </ion-nav-buttons>

  <ion-content scroll="false">

    <div class="card" ng-show="!showProfile">
      <ion-item class="item-text-wrap item-avatar">
        <img src="img/lyst_avi.gif">
        <p>It seems you haven't signed in yet. You will see your profile here once that's done.</p>
      </ion-item>
    </div>


    <ion-list class="card" ng-repeat="detail in userDetails" ng-if="!!userDetails">
      <ion-item class="item-divider item-text-wrap">
        <p>Profile</p>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="{{detail.image}}">
          <h2>Name: {{detail.first_name}} {{detail.last_name}}</h2>
          <p>Email: {{detail.email}}</p>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
