<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<!--<ion-nav-buttons side="left">-->
  <!--&lt;!&ndash;<button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>&ndash;&gt;-->
<!--</ion-nav-buttons>-->


<ion-tabs class="tabs-icon-top tabs-striped tabs-background-default tabs-color-default">

  <!-- Home Tab -->
  <ion-tab title="Lists" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose-outline" href="tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Create Tab -->
  <ion-tab title="Ask Lyst" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble-outline" href="tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Results Tab -->
  <ion-tab title="Purchases" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart-outline" href="tab/lists">
    <ion-nav-view name="tab-lists"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline">
    <ion-nav-view></ion-nav-view>
  </ion-tab>

</ion-tabs>
