
  <ion-content ng-click="hideLoader()" scroll="false">
    <!--<div class="list">-->
      <!--<form ng-submit="createScreenV2();item_name.name = ''">-->
        <!--<div class="item item-input-inset item-content" style="padding-top: 5%;">-->
          <!--<label class="item-input-wrapper" style="font-size: 165%;box-shadow: 3px 3px 3px #999 !important;">-->
            <!--<i class="icon ion-android-search placeholder-icon"></i>-->
            <!--<input type="text" placeholder="Add an item to your list..." ng-model="item_name.name" style="font-size: 57%;">-->
          <!--</label>-->
          <!--<a class="button button-small button-teal" ng-click="speakText();item_name.name = '';">-->
            <!--<i class="icon ion-ios-mic-outline"></i>-->
          <!--</a>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->

    <!--<ion-list ng-hide="showListHeaderCard">-->
      <!--<div class="card padding">-->
        <!--<ion-item ng-repeat="item in items" class="item-content">-->
          <!--<a class="item item-icon-right">-->
            <!--<i class="icon ion-close-circled" style="font-size: 120%;color: darkgray;" ng-click="remove(item)"></i>-->
            <!--{{ item }}-->
          <!--</a>-->
        <!--</ion-item>-->
        <!--<button class="button button-positive" ng-click="fetchItems()" style="float: right;">Done</button>-->
        <!--<button class="button button-default" ng-click="saveCurrentListV2(items)" style="float: left;">Save</button>-->
      <!--</div>-->
    <!--</ion-list>-->

    <div align="center" style="padding-top: 40%;" class="animated fadeInUpBig">
      <h3>Things you can ask</h3>
      <p>Coming soon</p>
      <br>
    </div>
    <div align="center">
      <b>
      <p ng-click="hideLoader();fetchTemplate('school')" class="animated pulse">"I need a back to school shopping list for my son"</p>
      <p ng-click="hideLoader();fetchTemplate('baby')" class="animated wobble">"I just had a baby. Find me some stuff I may need"</p>
      <p ng-click="hideLoader();fetchTemplate('wedding')" class="animated tada">"I would like item suggestions for my wedding reception"</p>
      </b>
    </div>
  </ion-content>
