/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

//Custom font
//@import url(https://fonts.googleapis.com/css?family=Roboto);
//$font-family-base: 'Roboto', 'Helvetica' !default;

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 400;
  src: url('../www/fonts/Roboto-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: 400;
  src: url('../www/fonts/Roboto-Thin.ttf') format('ttf');
}

$font-family-base: "Roboto-Thin", sans-serif !default;

//$font-family-sans-serif: "Roboto-Thin", "Helvetica Neue", "Roboto-Light", sans-serif !default;
//$font-family-light-sans-serif: "Roboto-Thin", "HelveticaNeue-Light", "Roboto-Light", sans-serif-light !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

