<ion-item class="item-thumbnail-left" ng-click="vumvum($index);showPrice();calcTotal();">
  <img ng-src="{{product.image !== 'N/A' ? product.image : 'img/default_place.png'}}" />
  <h2>{{product.name}}</h2>
  <p>Brand: {{product.brand}}</p>
  <p>Store: {{product.store}}</p>
  <p style="color: #ff3b30;">Price: {{product.price | currency}}</p>
</ion-item>
