<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Lyst</title>

    <!--<link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <script src="lib/ionic-service-push/ionic-push.js"></script>

    <!-- ngCordova script for social login -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js"></script>

    <!-- Ion Autocomplete Library -->
    <script src="lib/ion-autocomplete/dist/ion-autocomplete.js"></script>
    <link href="lib/ion-autocomplete/dist/ion-autocomplete.css" rel="stylesheet">

    <!-- Angular Swiper -->
    <link href="lib/swiper/dist/css/swiper.min.css" rel="stylesheet">
    <script src="lib/swiper/dist/js/swiper.js"></script>
    <script src="lib/angular-swiper/dist/angular-swiper.js"></script>

    <!-- Angular Filter -->
    <script src="lib/angular-filter/dist/angular-filter.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
  </head>
  <body ng-app="starter">

      <ion-side-menus>

        <ion-pane ion-side-menu-content="">
          <ion-nav-bar class="bar-clear">
            <ion-nav-back-button class="button-icon">
              <span class="icon ion-ios7-arrow-left"></span>
            </ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-view overflow-scroll="false"></ion-nav-view>
        </ion-pane>

        <ion-side-menu side="left" class="dark-bg">
          <ion-header-bar class="expanded" style="height: 18%">
            <a class="item-avatar">
              <img ng-src="{{userImage !== undefined ? userImage : 'img/default_avatar.png'}}">
            </a>
            <div style="margin-top: auto;margin-left: -23%;">
              <h5 style="color: #ffffff;font-weight: bolder">{{userName !== undefined ? userName : "You haven't signed in yet."}}</h5>
            </div>
          </ion-header-bar>
          <ion-content class="dark-bg" style="margin-top: 40%">
            <ion-list>
              <ion-item href="#/tab/home" menu-close="" class="item-icon-left dark-bg item-borderless" style="color: #ffffff;">
                <i class="icon ion-home color"></i>
                Home
              </ion-item>
              <ion-item href="#/profile" menu-close="" class="item-icon-left dark-bg item-borderless" style="color: #ffffff;">
                <i class="icon ion-person"></i>
                Profile
              </ion-item>
              <ion-item href="#/contacts" menu-close="" class="item-icon-left dark-bg item-borderless" style="color: #ffffff;">
                <i class="icon ion-person-stalker"></i>
                Contacts
              </ion-item>
              <ion-item href="#/history" menu-close="" class="item-icon-left dark-bg item-borderless" style="color: #ffffff;">
                <i class="icon ion-clock"></i>
                History
              </ion-item>
              <ion-item menu-close="" href="#/login" class="item-icon-left dark-bg item-borderless" style="color: #ffffff;">
                <i class="icon ion-log-in"></i>
                Login
              </ion-item>
              <ion-item menu-close="" ng-click="logOut()" class="item-icon-left dark-bg item-borderless" style="color: #ffffff;">
                <i class="icon ion-log-out"></i>
                Logout
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>

  </body>
</html>
