/* Empty. Add your own CSS if you like */
.layoutBackground {
  height: 100%;
  /*background: url("../img/app_bckg2.jpg") center;*/
  background-size: cover;
  background-color: #e5e5e5 !important;
}

.menu .bar.bar-header.expanded{
  background-size: 120%;
  background: url("../img/black_menu_bg.jpg") 0;
  transition: all .5s ease-in-out;
}

.sliderBackground {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.title.title-center.header-item {
  color: #ffffff !important;
}

.template-card {
  padding-right: 0 !important;
}

.template-card h2 {
  margin: 0 0 2px -50px !important;
}

.template-card p {
  margin: 0 0 0 -50px !important;
}

.lyst-card {
  padding: 0 0 0 0 !important;
}

.section-divider-card {
  background: transparent !important;
  box-shadow: 0 0 0 0 !important;
  border-color: transparent !important;
  color: darkgrey !important;
  font-size: large !important;
  font-weight: 800;
}

.section-divider-text {
  /*border-top: 4px solid #ffffff;*/
  /*width: 150px;*/
  text-align: center;
  font-weight: bold;
  /*padding-top: 2%;*/
  margin: 8% auto 30px;
  color: #ffffff;

}

.section-divider-modal-text {
  border-top: 4px solid #4d4d4d;
  width: 150px;
  text-align: center;
  font-weight: bold;
  padding-top: 2%;
  margin: 8% auto 30px;
  color: #4d4d4d;

}

.product-detail-view {
  background-color: rgba(255,255,255,0.4) !important;
}

.item-content {
  background-color: transparent !important;
}

.bar-header {
  box-shadow: 0 0 4px rgba(0,0,0,0.78) !important;
}

.list-results img {
  max-width: 70px !important;
  max-height: 70px !important;
  border-radius: 0 !important;
}

.list-results h2 {
  margin: 0 0 2px 50px !important;
}

.list-results p{
  margin: 0 0 2px 50px !important;
}

.home-item {
  margin-bottom: 0.7% !important;
  margin-left: 0.7% !important;
  margin-right: 0.7% !important;
}

.button.button-teal {
  border-color: transparent !important;
  background-color: #008080 !important;
  color: #ffffff !important;
}

.bar.bar-teal {
  background-color: #008080;
}

.button.button-google {
  border-color: transparent !important;
  background-color: #de4a33 !important;
  color: #ffffff !important;
}

.button.button-facebook {
  border-color: transparent !important;
  background-color: #4e6bab !important;
  color: #ffffff !important;
}

.signup-page {
  text-align: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #383a4c;
}

.signup-page .list {
  width: 90%;
  padding-top: 10%;
  margin-left: 5%;
  background-color: #383a4c !important;
}

.signup-page .list .list-body {
  background-color: #383a4c !important;
  color: #ffffff !important;
}


.float-button {

  background-color:#008080;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,0.78) !important;
  width: 30px;
  padding: 25px;
  font-size: 30px;
  position: fixed;
  bottom: 8%; /* Adjust height */
  right: 5%; /* Adjust position */
  z-index: 1000;
}

.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 60%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}


.float-button-modal {

  background-color:#008080;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,0.78) !important;
  width: 30px;
  padding: 25px;
  font-size: 30px;
  position: fixed;
  bottom: 1%; /* Adjust height */
  right: 4%; /* Adjust position */
  z-index: 1000;
}

.float-button-modal .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button-modal .content {
  position: absolute;
  left: 0;
  top: 60%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}


.loading-container .loading{
  background-color: rgba(0, 0, 0, 0) !important;
}

.col-50, .col-33, .col-60, .col-66 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.item-avatar, .item.tabs {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.item-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item-input-wrapper {
  background: #fafafa !important;
}

.slider {
  height: 100%;
  text-align: center;
  overflow: visible;
}

.scroll {
  height: 100%;
}

.swiper-button-next{
  top: 65% !important;
  height: 10px !important;
}

.swiper-button-prev{
  top: 65% !important;
  height: 10px !important;
}

.create-list-back {
  float: right;
  padding-top: 30%;
  font-size: 180%
}

.create-list-background {
  background-color: #8f8f8f;
  /*opacity: 0.97;*/
  bottom: 0;
}

.lyst-background:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: url("../img/app_bg.jpeg") center;
  background-size: cover;
  width: 100%;
  height: 100%;

  /*-webkit-filter: blur(1px);*/
  /*-moz-filter: blur(1px);*/
  /*-o-filter: blur(1px);*/
  /*-ms-filter: blur(1px);*/
  /*filter: blur(1px);*/

}

.lyst-background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-right: 20px;
}

.color-item {
  background-color: #ffc520 !important;
  color: #ffffff !important;
}

.color-item input::-webkit-input-placeholder {
  color: #ffffff !important;
}

/* chat boxes */
.chat-box-lyst {
  border-radius: 5px !important;
  margin: 15px 65px 0px 12px !important;
}

.chat-box-user {
  border-radius: 5px !important;
  margin: 22px 15px 0px 75px !important;
}


/* New Chat format */

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 10px;
}

.message-detail.right {
  white-space: nowrap;
  font-size: 10px;
  padding-left: 73% !important;
}

.message-detail.left {
  white-space: nowrap;
  font-size: 10px;
  padding-left: 0 !important;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 4px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #ffffff;
  float: left;
  margin-left: 22px;
  padding-right: 15%;
}

.chat-bubble.left:before {
  background-color: #ffffff;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 22px;
  padding-right: 15%;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

/*input, textarea, .item-input, .item-input-wrapper {*/
  /*background-color: #f4f4f4 !important;*/
/*}*/

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}
